:root{
    scroll-behavior: auto; /* smooth avec bootstrap*/
}

pre {
    font-size: 100%;
	font: inherit;
    white-space: pre-wrap;
  }

nav.bg-perso, footer.bg-perso, .list-group-item.active{
    border:#10304d;
    background-color: #ffaf00;
}
.nav-link{
    color: rgba(0,0,0,.75);
}

.couleur-perso{
    color:#ffaf00;
    font-weight: bold;
}

.blanc{
    color:white;
}

.nav-link.active, .nav-link.activePerso, .nav-link:hover{
    color: rgba(0,0,0,.9);
    font-weight: bold;
}

.btn-perso{
    background-color: #ffaf00;
    color: white;
}


.text-lien{
    color: steelblue;
}

html{
    min-height: 100vh;
    position: relative;
}

main{
    padding: 56px 0;
}

footer{
    position: absolute;
    bottom: 0;
}
h1{
    font-size: 1.8em;
}

h2{
    padding-top: 10px;
}

.btn-actions{
    min-width: 154px;
}

#auteur{
    font-style: italic;
}
.hidden{
    display: none;
}
.show{
    display: block;
}

#preview a{
    /* position: absolute; */
    top: 0;
    right: 50%;
    border: 1px solid grey;
}

#preview1:hover, #preview2:hover, #preview3:hover, #preview4:hover, #preview5:hover, .avis, .listeAvis{
    cursor: pointer;
}

.contenu{
    text-align: justify;
}


.hauteur{
    height: 180px;
    width: 180px;
    overflow: hidden;
    background-color: grey;
    position: relative;
}


#blocGalerie {
    overflow: hidden;
    max-height: 800px;
}
#blocGalerie img{
    padding: 5px;
    border: 5px solid white;
    /* width: 100%; */
    max-width: 600px;

}

#miniatures img{
    width: 15%;
}

.autreAnnonce{
    width: 90%;
    overflow: hidden;
}

.miniature:hover{
    border: 3px solid #ffaf00;
    cursor: pointer;
}

#lightbox {
    position: fixed; /* La lightbox apparaît avant la fermeture de la balise <body> ce qui facilite son positionnement */
    z-index: 999; /* Mettez une valeur supérieur à celle du contenu, de sorte que la lightbox soit toujours au dessus */
     /* Permet de faire apparaître la lightbox à partir des coordonnées (0;0) */
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.8);
}

#lightbox img {
    position: absolute; /* Permet d'afficher l'image au centre de l'écran */
    z-index: 998;
    top: 50%; /* Centrage vertical */
    left: 50%; /* Centrage horizontal */
    transform: translate(-50%, -50%);
    padding: 32px 32px 32px 32px; /* Création de fonds perdus pour éviter que l'image ne touche directement les bords du cadre */
    /* Création de marges pour éviter que l'image ne prenne tout l'écran */
    max-width: 80%;
    max-height: 80%;
    background: rgb(255, 255, 255); /* Mise en place d'un fond au cas où l'image soit en transparence */
    box-shadow: rgba(0, 0, 0, 0.8) 0 0 16px;
}

#boutonMasque{
    background-color: transparent;
    color:#0a58ca;
    border: none;
}

.mapNormal {
    width: 100%;
    height: 300px;
  }


  a.question {
    background: #fafafe;
    padding: 11px;
    padding-top: 15px;
    padding-bottom: 15px;
    display: block;
    border-bottom: 1px solid #e7e7e7;
    position:relative;
    text-decoration: none;
    color: #2a2a2e;
   }
   a.question i {
    position:absolute;
    right:3%;
    transition: 0.3s;
   }
   p.answer {
    padding: 15px;
    display: none;
    background: #fff;
    margin-top:0;
    margin-bottom: 0;
    color: #455;
   }

   a.active{
       color: grey;
       font-weight: bold;
   }

   /*Le i qui est ds la classe active*/
   a.active i{
       transform: rotate(90deg);
   }

   .accordion-item{
       display: none;
   }

@media (max-width: 600px) {
    /* .contenu{
        text-align: left;
    } */
    .btn-actions{
        min-width: 50px;
        text-align: center;
    }

    
  }